# APP CREDENTIALS
APP_ENV = development
APP_HOST = localhost
APP_PORT = 3000

# POSTGRES CREDENTIALS
PG_HOST = localhost
PG_PORT = 5432
PG_USERNAME = postgres
PG_PASSWORD =
PG_DBNAME =

# JSONWEBTOKEN CREDENTIALS
JWT_SECRET =

# AWS S3
S3_ACCESS_KEY =
S3_SECRET_KEY =
S3_REGION =